<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>log입니다</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">이름</th>
      <th scope="col">승</th>
      <th scope="col">패</th>
      <th scope="col">검색시간</th>
    </tr>
  </thead>
  <tbody>
      {% for log in logs %}
    <tr>
      <td>{{log[0]}}</td>
      <td>{{log[1]}}</td>
      <td>{{log[2]}}</td>
      <td>{{log[3]}}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
</body>
</html>